@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

:root{
    --high-light-color:#FC7613;
    --white-color:#ffff;
    --light-silver:#cbd5e1;
    --silver-color:#94a3b8;
    --light-black:#202630;
    --dark-black:#141518;
    --svg-bg-light-black:#2C343C;
}

body{
 height: 100vh;
 width: 100vw;

 display: flex;
 /* gap: 4px; */
 justify-content: center;
 align-items: center;
 background-color: var(--dark-black);

 position: relative;
}

.main-container{
    height: 350px;
    width: 380px;
    background-color: var(--light-black);

    /* background-image: linear-gradient(#0e7490,#075985); */

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    border-radius: 10px;

}


/* svg container */

.svg-container{
    height: 40px;
    width: 40px;
    /* margin: 15px; */
    background-color: var(--svg-bg-light-black);
    border-radius: 50%;


    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 2px solid red; */


}

.svg-container>img{
    height: 15px;
    width: 15px;
}


/* text container */

.text-container{

    /* margin: 15px; */
   

    display: flex;
    flex-direction: column;
    align-items:flex-start;
    /* text-align: justify; */
    margin-inline: 15px;
    gap: 1rem;

    
}

.text-container>.heading-text-container{
    color: var(--white-color);
}

.text-container>.para-container{
    color: var(--light-silver);
}


/* box and box-container */

.rating-boxes-container{
    display: flex;
    justify-content:space-around;
  
}

.rating-boxes-container>.box{
    height: 40px;
    width: 40px;
    background-color: var(--svg-bg-light-black);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--light-silver);
    cursor: pointer;

    


}

/* button */

.button-container{
    display: flex;
    justify-content: center;

  

}

.submit{
    height: 40px;
    width: 90%;

    border-radius: 20px;
    font-family: inherit;
    letter-spacing: 3px;
    border: none;

    background-color: var(--high-light-color);
    /* display: flex; */
    
}

/* after rating container */


.after-rating-container{
    height: 350px;
    width: 380px;
    background-color: var(--light-black);

    /* background-image: linear-gradient(#0e7490,#075985); */

    display: flex;
    flex-direction: column;
    justify-content:space-evenly;

    border-radius: 10px;
    /* position:absolute; */

    
}

.after-rating-container-active{
    /* opacity: 0; */
}

/* svg after rating*/

.after-rating-svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.after-rating-svg-container>img{
    height: 95px;
    width: 130px;
}


/* you selected container */

.you-selected{
    /* border: 2px solid white; */
    margin-inline:105px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--svg-bg-light-black);

    border-radius: 13px;
}

.you-selected>h3{
    font-size: 14px;
    padding: 6px 2px;
    color: var(--high-light-color);

}


/* thankyou heading */

.heading-thankyou{
    color: var(--white-color);
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: 100;
    /* font-style: italic; */

    display: flex;
    justify-content: center;
}


/* thankyou paragraph */

.thankyou-para{
    margin-top:20px;
    margin-inline: 30px;



    /* display: flex; */
    /* justify-content:center;
    align-items:center; */
}
.thankyou-para>p{
   
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;


    color: var(--light-silver);

    line-height: 22px;
     
}